html, body, * {
	font: 14px/1.5 arial, "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
	color: #4d555d;
	font-size: 13px;
}

a {
	text-decoration: none;
}

.main-container {
	width: 1200px;
	margin: 0 auto;
	min-height: 400px;
	margin-top: 20px;
	margin-bottom: 100px;
}

.main-left {
	float: left;
	width: 820px;
	min-height: 500px;
	background-color: #ffffff;
}

.lecturer-item .lecturer-uimg {
	display: block;
	width: 120px;
	height: 120px;
	margin: 0px auto 10px;
	border-radius: 50%;
}

.main-right {
	float: right;
	width: 300px;
	min-height: 500px;
	background-color: #f5f5f5;
}

.course-title {
	margin-top: 10px;
	line-height: 31px;
	font-weight: 700;
	font-size: 32px;
}

.static-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	font-size: 18px;
	color: #999;
}

.tag {
	font-size: 16px;
	line-height: 25px;
	padding: 3px;
	border-radius: 5px;
	display: inline-block;
	background-image: -webkit-linear-gradient(236deg, #47b2ff, #0b8bff);
	background-image: linear-gradient(-146deg, #47b2ff, #0b8bff);
	color: #fff;
	margin-right: 10px;
}

.course-cover {
	height: 300px;
	background-size: 100% auto;
	background-color: #f3f4f5;
	position: relative;
	border-radius: 10px 10px 0 0;
}

.join-number {
	
}

.course-pay {
	font-size: 14px;
	color: #ff6060;
	line-height: 1.25;
}

.course-desc {
	font-size: 14px;
	color: #999;
	padding-top: 10px;
	padding-bottom: 30px;
}

.pay-btn {
	font-size: 18px;
	background-image: -webkit-linear-gradient(237deg, #1abfff, #0b8bff);
	background-image: linear-gradient(-147deg, #1abfff, #0b8bff);
	border-radius: 20px;
	color: #fff;
	padding: 10px 30px;
	margin: 0 20px 0;
	line-height: 1;
}

.lecturer-item {
	width: 224px;
	height: 320px;
	margin-right: 20px;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
	box-sizing: border-box;
	padding: 36px 24px 0;
	text-align: center;
	border-radius: 4px;
}

.course-menu {
	width: 100%;
	padding: 30px 0px;
}

.course-menu .cur {
	color: #0089D2;
}

.course-menu .menu-item {
	font-size: 16px;
	font-weight: bold;
	float: left;
	width: 100px;
	display: inline-block;
}

.lecturer-title {
	font-size: 14px;
	color: #666;
	line-height: 1.8;
	text-align: left;
}

.course-item {
	border-bottom: 1px solid #ddd;
	background: #fff;
	margin: 30px;
}

.course-item-hd+.course-item-bd .course-section-item {
	padding-left: 30px;
}

.course-item-hd {
	color: #666;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.course-item-hd span {
	font-size: 16px;
	line-height: 1.5;
}

.course-section-item {
	background: #fff;
	padding: 8px;
	position: relative;
	border-bottom: 1px solid #ddd;
}

.course-item-bd {
	/* height: 0; */
	-webkit-transition: height .5s;
	transition: height .5s;
	overflow: hidden;
}

.course-section-item .title {
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333;
	line-height: 1.5;
	font-weight: 700;
}

.course-section-item .time {
	font-size: 11px;
	color: #999;
	line-height: 1;
}

.course-section-item .right-control {
	position: absolute;
	right: 10px;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	width: 68px;
	box-sizing: border-box;
	cursor: pointer;
}

.course-section-item .right-control.try em {
	font-size: 12px;
	color: #0b8bff;
	border: 1px solid #85c5ff;
	line-height: 25px;
	padding: 2px;
	display: inline-block;
	border-radius: 3px;
}

.course-section-item .right-control.lock {
	color: #bcbcbc;
	font-size: 13px;
}

.comment {
	background-color: #FFFFFF;
}

#courseQA .courseQA-introduce, .comment .comment-introduce {
	padding: 20px 20px 20px 10px;
	font-size: 19px;
	line-height: 1;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.go-ask-btn, .go-comment-btn {
	height: 20px;
	line-height: 20px;
	font-size: 15px;
	font-weight: 400;
	color: #0b8bff;
	text-align: center;
	border: 2px solid #0b8bff;
	border-radius: 5px;
	padding: 0 10px;
	/* display: none; */
}

.comment .comment-item {
	display: flex;
	padding: 20px;
}

.comment .avatar-wrap {
	width: 30px;
	margin-right: 50px;
}

.comment .commenter-avatar {
	width: 70px;
	height: 70px;
	border-radius: 100%;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: #f3f4f5;
	background-size: cover;
	background-position: 50%;
}

.comment .comment-infos {
	flex: 1;
}

.comment .commenter-wrap {
	display: flex;
	align-items: flex-start;
	height: 30px;
	justify-content: space-between;
	align-items: center;
}

.comment .commenter-name {
	font-size: 13px;
	color: #999;
}

.comment .like-action {
	display: flex;
	align-items: center;
}

.comment .like-action .like-icon {
	color: #ddd;
	margin-left: 15px;
	cursor: pointer;
	background-color: black;
}

.comment .like-action .liked {
	color: #fff;
    background-color: #14acff;
}

.comment .comment-text {
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	word-break: break-all;
}

.comment .comment-time {
	font-size: 11px;
	line-height: 1;
	color: #999;
	padding: 5px 0;
}

.courseqa .qa-item {
	display: block;
	padding: 20px;
}

.courseqa .avatar-wrap {
	width: 30px;
	margin-right: 50px;
	float: left;
}

.courseqa .question-user-avatar {
	width: 70px;
	height: 70px;
	border-radius: 100%;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: #f3f4f5;
	background-size: cover;
	background-position: 50%;
}

.courseqa .qa-infos {
	flex: 1;
}

.courseqa .question-user-wrap {
	display: block;
    height: 30px;
    align-items: center;
}

.courseqa .question-user-name {
	font-size: 13px;
	color: #999;
}

.courseqa .reply-action {
	display: flex;
	align-items: center;
	float: right;
	cursor: pointer;
}

.courseqa .question-text {
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	word-break: break-all;
}

.courseqa .question-time {
	font-size: 11px;
	line-height: 1;
	color: #999;
	padding: 5px 0;
	margin-left: 20px;
}


.ellipsis {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.main-right a {
	display: block;
	outline: none;
	color: #337ab7;
	margin-bottom: 5px;
}

video.pv-video {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: auto;
}